import java.time.*
Date now = new Date()

process.cache = "lenient"

params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
    debug = false
    help = false
    reference = null
    ref_index = null
    bam_dir = null
    output = null
    masking = null
    minsize = 50
    maxsize = 1000
}

profiles {
    standard { includeConfig 'conf/rockfish.config' }
    rockfish { includeConfig 'conf/rockfish.config' }
    quest { includeConfig 'conf/quest.config' }
    local { includeConfig 'conf/local.config' }
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

process {
    withLabel: delly {
        container = "andersenlab/delly:1.2.8"
    }

    withLabel: annotation {
        container = "andersenlab/annotation:202203071920250e7671"
    }
}
